.navbar {
  width: 100%;
  background-color: rgb(26, 139, 102);
  position: fixed;
  top: 0;
  z-index: 3;

}

h1 {
  color: rgb(26, 139, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;

}

h2 {
  color: rgb(26, 139, 102);
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: cover;
  /* align-items: stretch; */
}




